header {
    margin: 0.5vw;
    background-color: rgb(34, 140, 34);
    text-align: center;
    font-size: 3rem;
}
form {
    width: fit-content;
    border: 2px solid black;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
}

form label {
    display: inline-block;
    width: 5rem;
    padding: 5px;
}
form input[type*="text"], form input[type*="email"], form input[type*="password"], form input[type*="number"], form input[name*="country"] {
    display: inline-block;
    width: 20rem;
}
form input[type*="range"] {
    display: inline-block;
    width: 15rem;
}
form input[type*="submit"] {
    background-color: rgb(39, 183, 39);
    color: white;
    border: none;
    padding: 5px 20px;
}
.rangebar {
    display: inline-block
    width: 15rem;
}
.submit-div {
    padding: 5px;
    text-align: right;
}
