body {
    margin: 0;
    padding: 0;
    background-image: conic-gradient(#f8cae7, #cdc2e7, #caf1f8, #686666, #c3c6c6);
}
header {
    margin-top: 0.5vw;
    background-color: rgb(0, 0, 0);
    color: bisque;
    text-align: center;
    font-size: 3rem;
}
section {
    padding: 1rem;
    width: fit-content;
    border-radius: 25px;
    background-color: black;
    margin: auto;
    margin-top: 3rem;
}
form {
    width: fit-content;
    border-radius: 25px;
    background-color: #caf1f8;
    padding: 1rem;
}

form label {
    display: inline-block;
    width: 5rem;
    padding: 5px;
}
form input[type*="text"], form input[type*="email"], form input[type*="password"], form input[type*="number"], form input[name*="country"] {
    display: inline-block;
    width: 20rem;
}
form input[type*="range"] {
    display: inline-block;
    width: 15rem;
}
form input[type*="submit"] {
    background-color: rgb(39, 183, 39);
    color: white;
    border: none;
    padding: 5px 20px;
}
.rangebar {
    display: inline-block
    width: 15rem;
}
.submit-div {
    padding: 5px;
    text-align: right;
}
